In [23]:
# Import libraries
import pandas as pd

In [24]:
# Get & read data
df = pd.read_csv('/content/drive/MyDrive/Dataset/glassdoor_jobs.csv')
df.head()

   Unnamed: 0  ...                                        Competitors
0           0  ...                                                 -1
1           1  ...                                                 -1
2           2  ...                                                 -1
3           3  ...  Oak Ridge National Laboratory, National Renewa...
4           4  ...               Commerce Signals, Cardlytics, Yodlee

[5 rows x 15 columns]

In [ ]:
# Salary parsing
# Company name text only
# State of field
# age of company
# Parsing of job description

In [25]:
# Check data shape
df.shape

(956, 15)

In [26]:
# Remove <0 in Salary Estimate
df = df[df['Salary Estimate'] != '-1']
df.shape

(742, 15)

In [27]:
# Remove 'per hour' & 'employer provided salary:' from Salary Estimate
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [28]:
# Remove '(Glassdoor est.)' & replace 'K' & '$' in Salary Estimate
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
minus_kd = salary.apply(lambda x: x.replace('K', '').replace('$', ''))
minus_hr = minus_kd.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary:', ''))

In [29]:
# Parse salary
df['min_salary'] = minus_hr.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = minus_hr.apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary + df.max_salary)/2

In [38]:
# Parse Comapany details
df['Company Name'] = df['Company Name'].apply(lambda x: x.replace('\n', ' '))
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3], axis =1)
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis=1)

In [40]:
# Get company's age
df['age'] = df.Founded.apply(lambda x: x if x <1 else 2021 - x)

In [43]:
# Python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['python_yn'].value_counts()

1    392
0    350
Name: python_yn, dtype: int64

In [44]:
# R studio
df['r-studio'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df['r-studio'].value_counts()

0    740
1      2
Name: r-studio, dtype: int64

In [45]:
# Spark
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['spark'].value_counts()

0    575
1    167
Name: spark, dtype: int64

In [46]:
# AWS
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['aws'].value_counts()

0    566
1    176
Name: aws, dtype: int64

In [47]:
# Excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['excel'].value_counts()

1    388
0    354
Name: excel, dtype: int64

In [ ]:
# Drop unnamed column
df_out = df.drop(['Unnamed: 0'], axis =1)
df_out

In [51]:
#df_out.to_csv('/content/drive/MyDrive/Dataset/salary_data_cleaned.csv', index=False)